body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  margin: 0;
}

/* Navigation Bar */
nav {
  background-color: rgba(39, 39, 39, 0.7); /* Translucent, dark gray */
  position: fixed; /* Affix the nav bar */
  width: 100%; /* Extend across the top */
}

nav > ul {
  list-style-type: none; /* Remove bullet-point style */
  text-align: center; /* Center nav links */
}

nav li {
  display: inline-block;
  margin-left: 2em;
  margin-right: 2em;
}

a {
  color: #909090;
	font-size: 17px;
  text-decoration: none;
}

header {
  background-image: url('images/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;

	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
	color: white;
	font-size: 4rem;
  margin: 5px;

  animation-name: fadeInLeft;
  animation-duration: 1s;
}

header > img {
  height: 80px;
  width: 80px;

  animation-name: fadeInLeft;
  animation-duration: 1s;
}

header > p {
  color: white;
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 100;
  margin-top: 40px;
}

@keyframes fadeInLeft {
	from {
		 opacity: 0;
		 transform: translateY(30px);
	}
	to {
		 opacity: 1;
		 transform: translateY(0);
	}
}

#downarrow {
  height: 40px;
  width: 40px;
  position: relative;
  top: 15vh;
}

#demo {
 background-color: #161616;
}

video {
  display: block;

  height: 60vh;
  width: 60vw;

  margin-left: auto;
  margin-right: auto;

  padding-top: 10vh;
  padding-bottom: 10vh;
}

canvas {
	display: none;
}
